# node files
npm-debug.log

# Typing #
/client/src/typings/tsd/
/client/typings/
/client/tsd_typings/

# Dist #
**/dist

# Firebase #
**/public
firebaseapp.config.ts

**/.idea/**
**/node_modules/
*.log
**/.vscode/**
