$lilac: rgba(197, 175, 204, 1);
$alabaster: rgba(238, 233, 233, 1);
$gray: rgba(209, 207, 202, 1);
$blue-yonder: rgba(165, 187, 215, 1);
$blue-tufts: rgba(60, 140, 198, 1);

$font: 'Catamaran';

$padding: 0.5rem;
$margin: 0.5rem;