@import '_constants';
@import url(https://fonts.googleapis.com/css?family=Catamaran:400,300,700);

* {
    font-family: $font;
}

body {
    background-color: $alabaster;
}

button.shbutton {
    border: none;
    padding: $padding/2 $padding;
    background: $blue-yonder;
    color: $alabaster;
    border-radius: 3px;
    font-size: 1rem;
    font-family: $font;
    text-transform: capitalize;
    cursor: pointer;
    outline: none;

    &:hover {
        background: $lilac;
    }
}

input[type="text"].shinput {
    background: transparent;
    border: none;
    border-bottom: 1px solid $gray;
    padding: $padding/2 $padding;
    font-size: 1.5rem;
    font-weight: 300;
    display: block;
    outline: none;
    text-align: center;
    width: 100%;
}

.title {
    font-weight: 300;
    font-size: 2rem;
    color: $blue-tufts;
}

section {
    text-align: center;
}

shcontainer {
    max-width: 40rem;
    display: block;
    margin: auto;
}

.shpadding {
    padding: $padding;
}

shrow, .shrow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

shtretch {
    flex-grow: 1;
}

shcard {
    background: $gray;
    padding: $padding;
    display: block;
    margin: $margin 0;
}

.subject-title {
    font-size: 1.25rem;
    font-weight: 300;
}